{
  "openapi": "3.0.1",
  "info": {
    "title": "ENTITLEMENT API",
    "description": "Covers the information of the API’s which are used within the system between the services and which are exposed to access over the internet.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.taylorfrancis.com/v4"
    },
    {
      "url": "http://api.taylorfrancis.com/v4"
    }
  ],
  "tags": [
    {
      "name": "entitlement",
      "description": ""
    }
  ],
  "paths": {
    "/entitlements": {
      "post": {
        "tags": [
          "entitlement"
        ],
        "summary": "CREATE ENTITLEMENTS",
        "requestBody": {
          "description": "Entitlements that needs to be added to the Database",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Entitlement"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entitlements that needs to be added to the store",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/EntitledResponse"
                    },
                    {
                      "$ref": "#/components/schemas/UnentitledResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Entitlement not created",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "entitlement"
        ],
        "summary": "UPDATE ENTITLEMENTS",
        "requestBody": {
          "description": "Entitlements that needs to be updated in the Database",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Entitlement"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entitlements that needs to be added to the store",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitledResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entitlement not found",
            "content": {}
          }
        }
      }
    },
    "/entitlements/{productId}": {
      "delete": {
        "tags": [
          "entitlement"
        ],
        "summary": "DELETE ENTITLEMENTS",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licenseIds",
            "in": "query",
            "description": "Comma separarted licenseIds list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "description": "packageId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "customerId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entitlements that needs to be deleted from the store",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteEntitlementResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entitlement not found",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "entitlement"
        ],
        "summary": "GET ENTITLEMENTS",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer Identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licenseIds",
            "in": "query",
            "description": "Comma separarted licenseIds list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "description": "packageId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma separarted status list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Default set to 0",
            "schema": {
              "type": "integer",
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Default set to 30",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfull post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitledResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entitlement not found",
            "content": {}
          }
        }
      }
    },
    "/entitlements/{productid}/customers": {
      "get": {
        "tags": [
          "entitlement"
        ],
        "summary": "GET CUSTOMERS",
        "parameters": [
          {
            "name": "productid",
            "in": "path",
            "description": "UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the map of productId and the customer Ids associated with each product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductCustomerMapping"
                  }
                }
              }
            }
          },
          "404": {
            "description": "customer not found",
            "content": {}
          }
        }
      }
    },
    "/entitlements/customer/{customerId}/license/{licenseId}/status": {
      "patch": {
        "tags": [
          "entitlement"
        ],
        "summary": "UPDATE STATUS FOR PARTICULAR LICENSE FOR A SPECIFIED CUSTOMER",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "customerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licenseId",
            "in": "path",
            "description": "licenseId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "status to be updated",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "Active/Expired/..."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "status to be updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Entitlement not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "enum": [
                    false
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/entitlements/{customerId}/products": {
      "post": {
        "tags": [
          "entitlement"
        ],
        "summary": "GET ALL ENTITLEMENTS",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licenseIds",
            "in": "query",
            "description": "Comma separarted licenseIds list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageIds",
            "in": "query",
            "description": "Comma separarted packageIds list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma separarted status list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Default set to 0",
            "schema": {
              "type": "integer",
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Default set to 30",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "requestBody": {
          "description": "Add projections",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projections": {
                    "$ref": "#/components/schemas/Projections"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfull post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitledResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entitlement not found",
            "content": {}
          }
        }
      }
    },
    "/entitlements/customer/{customerId}/entitlement": {
      "get": {
        "tags": [
          "entitlement"
        ],
        "summary": "DOWNLOAD ENTITLEMENTS",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "customerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licenseIds",
            "in": "query",
            "description": "Comma separated licenseIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Default set to Active",
            "schema": {
              "type": "string",
              "default": "Active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadSuccessResponse"
                }
              }
            }
          },
          "default": {
            "description": "Failure Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadFailureResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entitilements/customer/{customerId}/": {
      "head": {
        "tags": [
          "entitlement"
        ],
        "summary": "GET ENTITLEMET COUNT",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "customerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Default set to Active",
            "schema": {
              "type": "string",
              "default": "Active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the count of all the license for the customer Id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entitlement not found",
            "content": {}
          }
        }
      }
    },
    "/entitlement/health": {
      "get": {
        "tags": [
          "entitlement"
        ],
        "summary": "SERVICE HEALTH",
        "responses": {
          "200": {
            "description": "Service is up and Healthy",
            "content": {}
          },
          "503": {
            "description": "unhealthy/unavailable",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Entitlement": {
        "required": [
          "customerId"
        ],
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "100"
          },
          "licenseId": {
            "type": "string",
            "example": "15761"
          },
          "status": {
            "type": "string",
            "example": "Active"
          },
          "packageId": {
            "type": "string",
            "example": "bundleId/packageId"
          },
          "packageVersion": {
            "type": "string",
            "example": "1.0.0"
          },
          "access_scope": {
            "type": "string",
            "example": "global/controlled"
          },
          "productId": {
            "type": "string",
            "example": "uuid"
          },
          "policies": {
            "type": "array",
            "xml": {
              "name": "policies",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/Policies"
            }
          }
        },
        "xml": {
          "name": "Entitlement"
        }
      },
      "Policies": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "DRM"
          },
          "policyInfo": {
            "$ref": "#/components/schemas/PolicyInfo"
          }
        },
        "xml": {
          "name": "Policies"
        }
      },
      "PolicyInfo": {
        "type": "object",
        "properties": {
          "concurrency": {
            "type": "integer",
            "format": "int64",
            "example": 10
          },
          "download": {
            "type": "integer",
            "format": "int64",
            "example": 5
          }
        },
        "xml": {
          "name": "PolicyInfo"
        }
      },
      "CountResponse": {
        "type": "object",
        "properties": {
          "ebs": {
            "type": "integer",
            "format": "int64",
            "example": 30
          },
          "subscription": {
            "type": "integer",
            "format": "int64",
            "example": 450
          },
          "perpetual": {
            "type": "integer",
            "format": "int64",
            "example": 6830
          },
          "trial": {
            "type": "integer",
            "format": "int64",
            "example": 230
          }
        }
      },
      "Projections": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "example": [
          "productId",
          "name",
          "isbn",
          "doi",
          "sdDatePublished",
          "openAccess",
          "datePublished",
          "drm",
          "status"
        ]
      },
      "DownloadSuccessResponse": {
        "type": "object",
        "properties": {
          "Status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "jobId": {
            "type": "string",
            "example": 1234
          }
        }
      },
      "DownloadFailureResponse": {
        "type": "object",
        "properties": {
          "Status": {
            "type": "string",
            "enum": [
              "failure"
            ]
          },
          "jobId": {
            "type": "string",
            "example": 1234
          }
        }
      },
      "EntitledResponse": {
        "required": [
          "product_id",
          "package_id",
          "customer_id",
          "license_id",
          "isbn",
          "doi",
          "title"
        ],
        "type": "object",
        "properties": {
          "entitled": {
            "type": "string",
            "enum": [
              "yes"
            ]
          },
          "doi": {
            "type": "string",
            "example": 1234
          },
          "accessScope": {
            "type": "string",
            "enum": [
              "global",
              "controlled"
            ]
          },
          "product_id": {
            "type": "string",
            "example": 1234
          },
          "customer_id": {
            "type": "integer",
            "example": 1234
          },
          "license_id": {
            "type": "integer",
            "example": 1234
          },
          "package_id": {
            "type": "string",
            "example": 1234
          },
          "title": {
            "type": "string",
            "example": 1234
          },
          "publicatoin_Date": {
            "type": "string",
            "example": 1234
          },
          "isbn": {
            "type": "integer",
            "example": 1234
          },
          "poliicies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "UnentitledResponse": {
        "required": [
          "product_id",
          "customer_id"
        ],
        "type": "object",
        "properties": {
          "entitled": {
            "type": "string",
            "enum": [
              "no"
            ]
          },
          "product_id": {
            "type": "string",
            "example": 1234
          },
          "customer_id": {
            "type": "integer",
            "example": 1234
          }
        }
      },
      "DeleteEntitlementResponse": {
        "required": [
          "product_id",
          "customer_id",
          "license_id"
        ],
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "example": 1234
          },
          "customer_id": {
            "type": "integer",
            "example": 1234
          },
          "license_id": {
            "type": "integer",
            "example": 1234
          }
        }
      },
      "ProductCustomerMapping": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "customerId": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "JWT_Auth_Header": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}